body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(76 122 221);
    color: white;
}

.search-box {
    display: flex;
    justify-content: space-between;
    background-color: white;
    width:30%;
    border-radius: 0.2rem;
    padding: 2px 0px;
}

.nav-input-box {
    margin-left: 1rem;
    padding: 10px 5px;
    width:20rem;
    background-color: none;
    border: 0;
}

.nav-input-box::placeholder {
    font-size: 1rem;
}

.nav-input-box:focus ,.login:focus {
    outline: none;
}

.search-icon {
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.search-button {
    margin-right:0.9rem;
    background-color:white;
    border: 0;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.login {
    padding: 0.6rem 3rem;
    border: 0;
    border-radius: 0.2rem; 
    font-size: 1.2rem;
    background-color: white;
    color: rgb(76 122 221);
    cursor: pointer;
}

.nav-items {
    display: flex;
    gap: 30px;
    color: white;
}

ul {
    list-style-type: none;
    color: white;
  }

.cart {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

li > a {
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
}

.cart-icon {
    height: 20px;
}

h2 {
    font-weight: 500;
}


.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 20px ;
}

.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

a {
    text-decoration: none;
    color: black;
    font-size: 1rem;

}


.menu-images {
    height: 5rem;
}

.menu-item > a:hover {
    color: rgb(76 122 221);
}

/* .group {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

/* .down-arrow {
    height: 1rem;
    cursor: pointer;
} */

#fashion {
    /* text-decoration: none; */
    outline: none;
    border: 0;
    background-color: white;
}




.hero-section {
    margin: 20px 0;
    position: relative;
}

.hero-image {
    width: 100%;
}

.left-arrow-button {
    position: absolute;
    top: 6rem;
    height: 6rem;
    width: 3rem;
    background-color: white;
    border: 0;
}

.right-arrow-button {
    height: 6rem;
    width: 3rem;
    position: absolute;
    right: 0;
    top: 6rem;
    background-color: white;
    border: 0;
}

.left-arrow , .right-arrow {
    height: 1.5rem;
}




.electronic-section , .beauty-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.electronic-items , .beauty-items {
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
    align-items: center;
    height:20rem;
    padding: 2rem 0;
}

.electronic-list , .beauty-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.air-india-adv {
    height: 24rem;
}

.electronic-images, .beauty-images {
    width:80%;
}

.electronic-card-detail, .beauty-card-detail {
    text-align: center;
}

.electronics , .beauty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.electronics-title, .beauty-title {
    font-size: 2rem;
    text-align: center;
    margin-top:7rem;
}

.electronics-button, .beauty-button {
    padding:0.7rem 2rem;
    font-size: 1rem;
    border: 0;
    background-color:  rgb(76 122 221);
    color: white;
    border-radius: 0.1rem;
}

.slider-container {
    transition-delay: 5s;
}

.fashion {
    margin-top: 0.5rem;
    width:4.3rem;
}